@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css);

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #495057;
}

header img {
    flex-basis: 40px;
    margin-left: 10px;
    filter: invert(100%);
}

#control {
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

h1 {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

footer {
    background-color: #6c757d;
    height: 20px;
    width: 100vw;
    position: relative;
}

.panel {
    width: 40% !important;
    height: 100%;
    flex-direction: column;
    display: flex;
}

#centralPanel {
    display: flex;
}

#addPanel {
    display: none;
}

.table {
    width: 100%;
    margin: 0 !important;
    max-height: 100%;
    position: relative;
}

thead {
    position: sticky;
    top: 0;
    margin-bottom: 5px;
    border-bottom: 3px solid black;
}

.table-group-divider {
    overflow: auto;
    height: 100% !important;
}

.forTable {
    width: 60% !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    overflow: auto;
}

.table th {
    height: 10px;
}

.table td {
    text-overflow: ellipsis;
}

.image-container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    border: 4px solid #dee2e6;
}

.requirement,
#trash {
    cursor: pointer;
}

.requirement:hover {
    width: 160px;
    height: 160px;
    background-color: #24be76;
    border-radius: 1.5rem;
    border: 4px solid #67d19f;
}

#trash:hover {
    width: 160px;
    height: 160px;
    border: 4px solid #fd6b6b;
    background-color: #d82d17;
}

.requirement:active {
    background-color: #1b8b57;
    border-radius: 1.5rem;
    border: 4px solid rgb(34, 163, 103);
}

#trash:active {
    border: 4px solid #c75353;
    background-color: #8b1c0d;
}

#trashDisable {
    background-color: #d8dde3;
    border: 4px solid rgb(196, 206, 208);
    filter: opacity(40%);
}

#modifyDisable {
    background-color: #d8dde3;
    border: 4px solid rgb(196, 206, 208);
    filter: opacity(40%);
}

#modifyPanel {
 display: none;
}

#addPanel form {
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

#addPanel img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.arrow {
    filter: invert(100%);
    width: 40px
}