@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css);

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #495057;
    width: 100vw;
    position: relative;
    align-items: center;
    height: 7%;
}

.menu {
    width: auto;
    height: 100%;
    display: none;
    position: absolute;
    right: 0;
    justify-content: center;
    border: 4px solid rgba(109, 163, 250, 0);
}

header img {
    flex-basis: 40px;
    margin-left: 10px;
    filter: invert(100%);
}

.menu img {
    margin: 0;
}

#leave {
    background-color: rgb(109, 163, 250);
    border: 4px solid rgba(109, 163, 250, 0.389);
}

#control {
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    margin-left: 10px;
}

footer {
    background-color: #6c757d;
    height: 20px;
    width: 100vw;
    position: relative;
}

.panel {
    width: 40% !important;
    height: 100%;
    flex-direction: column;
    display: flex;
}

#centralPanel {
    display: flex;

}

#addPanel {
    display: none;
}

.table {
    width: 100%;
    margin: 0 !important;
    max-height: 100%;
    position: relative;
}

thead {
    position: sticky;
    top: 0;
    margin-bottom: 5px;
    border-bottom: 3px solid black;
}

.table-group-divider {
    height: 100% !important;
}

.forTable {
    width: 60% !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
}

.table th {
    height: 10px;
    width: 20px;
}

td {
    text-overflow: ellipsis !important;
    width: 100px !important;
    
}

.image-container {
    width: 150px !important;
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    border: 4px solid #dee2e6;
}

.requirement,
#trash {
    cursor: pointer;
}

.requirement:hover {
    width: 160px;
    height: 160px;
    background-color: #24be76;
    border-radius: 1.5rem;
    border: 4px solid #67d19f;
}

#trash:hover {
    width: 160px;
    height: 160px;
    border: 4px solid #fd6b6b;
    background-color: #d82d17;
}

.requirement:active {
    background-color: #1b8b57;
    border-radius: 1.5rem;
    border: 4px solid rgb(34, 163, 103);
}

#trash:active {
    border: 4px solid #c75353;
    background-color: #8b1c0d;
}

#trashDisable {
    background-color: #d8dde3;
    border: 4px solid rgb(196, 206, 208);
    filter: opacity(40%);
}

#modifyDisable {
    background-color: #d8dde3;
    border: 4px solid rgb(196, 206, 208);
    filter: opacity(40%);
}

#modifyPanel {
    display: none;
}

.panel form {
    flex-basis: 600px;
    height: 100%;
    margin-bottom: 70px;
}

#addPanel img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.arrow {
    filter: invert(100%);
    width: 40px
}

.panel div {
    margin-bottom: 2.5vh;
}

.panel input {
    height: 70px !important;
}

.panel .form-check-input {
    height: 20px !important;
    width: 20px !important;
}

.button {
    width: 100%;
}

#centralPanel {
    display: flex;
}

@media (max-height: 920px) {
    .panel h2 {
        font-size: 30px;
    }

    .panel div {
        margin-bottom: 2vh
    }

    .panel label {
        font-size: 20px;
    }

    .panel input {
        height: 60px !important;
        font-size: 15px;
    }

    .panel .form-check-input {
        height: 20px;
        width: 20px;
    }

    .button {
        height: 7vh !important;
    }
}

@media (max-width: 1200px) {

    .menu {
        display: flex;
    }

    #centralPanel {
        display: none;
    }

    .panel {
        width: 100%!important;
    }

    .forTable {
        width: 100%!important;
    }
}